/* 選擇器開頭，指定接下來的屬性要套用到哪些 HTML 元素。 */
h1,h2,h3,h4,h5,h6 {
/* 設定 CSS 屬性 font-weight，用來微調版面或視覺表現。 */
	font-weight: 500;
/* 結束目前的 CSS 樣式區塊。 */
}
/* 空白行，用來分隔不同樣式區塊。 */

/* 選擇器開頭，指定接下來的屬性要套用到哪些 HTML 元素。 */
.title-sub {
/* 設定文字大小。 */
	font-size: 65%;
/* 設定 CSS 屬性 font-weight，用來微調版面或視覺表現。 */
	font-weight: 300;
/* 結束目前的 CSS 樣式區塊。 */
}
/* 空白行，用來分隔不同樣式區塊。 */
